@charset "utf-8";
/* CSS Document */
@media only screen and (min-width: 768px) {	
/* Name Animation CSS */
svg {
	overflow:visible;
}

#J1,#O1,#E1,#R1,#O2,#B1,#E2,#R2,#T1,#S1,#O3,#N1 {
	stroke: #37424a;
	stroke-width: 10px;
	fill: transparent;
	animation: fill-anim 0.5s linear 9.6s forwards;
}

@keyframes fill-anim {
	from {fill:transparent}
	
	to {fill: #37424a;}
}

#J1 { stroke-dasharray: 1210px; stroke-dashoffset: -1210px; Animation: J1-anim .75s linear 0s forwards;}
@keyframes J1-anim {

from {stroke-dashoffset: -1210px}

to {stroke-dashoffset: 0px;}

}
#O1 { stroke-dasharray: 832px; stroke-dashoffset: -832px; Animation: O1-anim .75s linear 0.8s forwards;}
@keyframes O1-anim {

from {stroke-dashoffset: -832px}

to {stroke-dashoffset: 0px;}

}
#E1 { stroke-dasharray: 1159px; stroke-dashoffset: -1159px; Animation: E1-anim .75s linear 1.6s forwards;}
@keyframes E1-anim {

from {stroke-dashoffset: -1159px}

to {stroke-dashoffset: 0px;}

}
#R1 { stroke-dasharray: 2250px; stroke-dashoffset: -2250px; Animation: R1-anim .75s linear 2.4s forwards;}
@keyframes R1-anim {

from {stroke-dashoffset: -2250px}

to {stroke-dashoffset: 0px;}

}
#O2 { stroke-dasharray: 832px; stroke-dashoffset: -832px; Animation: O2-anim .75s linear 3.2s forwards;}
@keyframes O2-anim {

from {stroke-dashoffset: -832px}

to {stroke-dashoffset: 0px;}

}
#B1 { stroke-dasharray: 1460px; stroke-dashoffset: -1460px; Animation: B1-anim .75s linear 4.0s forwards;}
@keyframes B1-anim {

from {stroke-dashoffset: -1460px}

to {stroke-dashoffset: 0px;}

}
#E2 { stroke-dasharray: 1159px; stroke-dashoffset: -1159px; Animation: E2-anim .75s linear 4.8s forwards;}
@keyframes E2-anim {

from {stroke-dashoffset: -1159px}

to {stroke-dashoffset: 0px;}

}
#R2 { stroke-dasharray: 1189px; stroke-dashoffset: -1189px; Animation: R2-anim .75s linear 5.6s forwards;}
@keyframes R2-anim {

from {stroke-dashoffset: -1159px}

to {stroke-dashoffset: 0px;}

}
#T1 { stroke-dasharray: 1488px; stroke-dashoffset: -1488px; Animation: T1-anim .75s linear 6.4s forwards;}
@keyframes T1-anim {

from {stroke-dashoffset: -1488px}

to {stroke-dashoffset: 0px;}

}
#S1 { stroke-dasharray: 1215px; stroke-dashoffset: -1215px; Animation: S1-anim .75s linear 7.2s forwards;}
@keyframes S1-anim {

from {stroke-dashoffset: -1215px}

to {stroke-dashoffset: 0px;}

}
#O3 { stroke-dasharray: 832px; stroke-dashoffset: -832px; Animation: O3-anim .75s linear 8.0s forwards;}
@keyframes O3-anim {

from {stroke-dashoffset: -832px}

to {stroke-dashoffset: 0px;}

}
#N1 { stroke-dasharray: 1551px; stroke-dashoffset: -1551px; Animation: N1-anim .75s linear 8.8s forwards;}
@keyframes N1-anim {

from {stroke-dashoffset: -1551px}

to {stroke-dashoffset: 0px;}

}
/* End Name Animation CSS */
}

